//- ====================
//- Главная страница.
//- ====================

//- Используем стандартный шаблон Project
extends ./layout/base

//- Модифицируем head
block head
    - var pageTitle = 'Gulp start server';

//- Выводим попапы
block popup

//- Выводим content
block content
    h1 1